{# the html for this shit is horrible #}
<div class="footer padding">
    <div class="footer-line">
        <a href="/">Home</a> <span class="separator"></span> <a href="/themes/">Themes</a> <span class="separator"></span> <a href="/settings/">Settings</a> <span class="separator"></span> <a href="/info/tos">Terms of Service</a>
    </div>
    <div class="footer-line">
        Copyright &copy; 2023 - {{ 'now' | date('Y') }} <span class="separator"></span> &nbsp;jacksden.com
    </div>
</div>