<nav>
    <div id="navbar">
        <div class="buffer"></div>
        <div id="logo"><a href="/" class="logo">
            <div><img src="/images/text.png"></a></div>
        </div>
        {% if Session.Handle is defined %}
        <div class="navlink navlink-border"><div><a href="/">home</a></div></div>
        <div class="navlink"><div><a href="/user/{{ Session.Handle }}">profile</a></div></div>
        <div class="navlink"><div><a href="/settings/">settings</a></div></div>
        <div class="navlink">
            <div>
                <a href="/notifications/">
                    {% if unreadNotifs > 0 %}<div class="notification-alert">{{ unreadNotifs }}</div>{% endif %}
                    notifications
                </a>
            </div>
        </div>
        <div class="navlink"><div><a href="/messages">messages</a></div></div>
        {% if isAdmin %}
        <div class="navlink"><div><a href="/admin/">admin</a></div></div>
        {% endif %}
        <div class="navlink"><div><a href="/sign_out">sign out</a></div></div>
        {% if Session.Handle is defined %}
            <div class="navlink">
                <div>
                    <form class="search-bar" method="get" action="/search">
                        <input type="text" name="q" autocomplete="off" placeholder="search...">
                        <input type="radio" name="filter" value="hashtags" class="display-none" checked>
                        <input type="radio" name="filter" value="users" class="display-none" checked>
                        <input type="radio" name="filter" value="weets" class="display-none" checked>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="navlink"><div></div></div>
            <div class="navlink"><div></div></div>
            <div class="navlink"><div></div></div>
            <div class="navlink"><div></div></div>
        {% endif %}
        <!-- what the hell -->
        {% endif %}
        {% if Session.Handle is not defined %}
            <div class="buffer navlink-border"></div>
        {% else %}
            <div class="buffer"></div>
        {% endif %}
    </div>
</nav>

<!-- thanks to @clotheswife on discord (https://hardly.link/projects/navbar/) -->