{% extends "base.twig" %}
{%- block Container -%}
    <div class="padding">
        <div class="full-width">
            <b>what is witter?</b>
            <p class="no-margin">
                witter is a social media site that aims to:
                <ul>
                    <li>bring back the customization of myspace</li>
                    <li>combine the social features of twitter</li>
                    <li>let users share music tastes & say their thoughts</li>
                </ul>
            </p>
        </div>
    </div>
    <hr>
    <div class="padding no-padding-bottom no-padding-top">
        <div class="left padding-top padding-bottom">
            <h3>login</h3>
            <form class="form" method="post" action="/user/login/">
                <div class="input-group">
                    <label for="username">username</label>
                    <div class="input-text-prefix">@</div>
                    <input type="text" class="input-text-prefix-form" id="username" required placeholder="yourhandle" name="username" aria-label="Handle">
                </div>
                <div class="input-group">
                    <label for="password">password</label>
                    <input type="password" id="password" required placeholder="Password" name="password" aria-label="Password">
                </div>
                <span class="caption"><a href="#">forgot your password?</a></span>
                <input type="submit" value="login" aria-label="Login">
            </form>
        </div>

        <div class="right padding-top padding-bottom">
            <h3>register</h3>
            <form class="form" method="post" action="/user/register/">
                <div class="input-group">
                    <label for="username">username</label>
                    <div class="input-text-prefix">@</div>
                    <input type="text" class="input-text-prefix-form" id="username" required placeholder="yourhandle" name="username" aria-label="Handle">
                </div>
                <div class="input-group">
                    <label for="email">email</label>
                    <input type="text" id="email" required placeholder="Email" name="email" aria-label="E-Mail">
                </div>
                <div class="input-group">
                    <label for="password">password</label>
                    <input type="password" id="password" required placeholder="Password" name="password" aria-label="Password">
                </div>
                <span class="caption">you can change your display name later</span>
                <input type="submit" value="register" aria-label="Register">
            </form>
        </div>
    </div>
{% endblock %}