{% extends "misc/base.twig" %}
{%- block Container -%}
    <div class="padding settings-page-fix">
        <h3 class="inline-block padding-right"><i class="far fa-wrench"></i> user settings</h3>

        <div class="tab-group inline-block">
            <a href="/settings/"><div class="tab {% if ActiveTab == 'general' %}primary{% endif %}">general</div></a>
            <a href="/settings/privacy"><div class="tab {% if ActiveTab == 'privacy' %}primary{% endif %}">privacy</div></a>
            <a href="/settings/blocked"><div class="tab {% if ActiveTab == 'blocked' %}primary{% endif %}">blocked users</div></a>
        </div>
    </div>
    <hr>
    <div class="padding no-padding-top no-padding-bottom">
        <div class="left padding-top padding-bottom">
            <div class="bold">display</div>
            <form class="form" method="post" action="/settings/nickname/">
                <div class="input-group">
                    <label for="username">display name</label>
                    <input type="text" id="username" required placeholder="yournickname" value="{{ User.nickname }}" name="nickname" aria-label="Nickname">
                    <input type="submit" class="inline-submit" value="change" aria-label="Change">
                </div>
            </form><br>
            <div class="bold">description</div>
            <form class="form" method="post" action="/settings/description">
                <div class="input-group">
                    <textarea type="text" class="full" required placeholder="my name is ..." name="description" aria-label="Weet">{{ User.description }}</textarea>
                </div>
                <span class="caption">make sure to describe yourself well</span>
                <input type="submit" value="set" aria-label="Set">
            </form><br>
            <div class="bold">css</div>
            <form class="form" method="post" action="/settings/css">
                <div class="input-group">
                    <textarea type="text" class="full" required placeholder="body { color: blue; }" name="css" aria-label="CSS">{{ User.css }}</textarea>
                </div>
                <span class="caption">prepend image urls with <code>https://wsrv.nl/?url=</code> for them to display</span>
                <input type="submit" value="set" aria-label="Set">
            </form>
            {% if waitingApprovalCSS %}
                <br>
                <div class="container alert-success height-unset width-unset" id="js_alert">
                    <span class="padding inline-block">
                        <b class="color-unset">Your CSS is currently waiting to be approved </b><br>
                        <span class="caption">
                        Please be patient, as this may sometimes take a few hours.
                        </span>
                    </span>
                </div>
            {% endif %}
        </div>

        <div class="right padding-top">
            <div class="bold">photos</div>
            <form class="form form-input-button-fix" method="post" action="/settings/picture/profile/" enctype="multipart/form-data">
                <div class="input-group">
                    <label for="profile_picture" class="padding-top padding-bottom">profile picture</label>
                    <input type="file" id="profile_picture" required name="asset" aria-label="Profile Picture">
                </div>
                <input type="submit" value="set" aria-label="Set">
                <span class="caption">max: 500kb / accepts png, jpg, gif</span>
            </form>
        </div>
        <div class="right padding-bottom negative-margin-top">
            <form class="form form-input-button-fix" method="post" action="/settings/picture/banner/" enctype="multipart/form-data">
                <div class="input-group">
                    <label for="banner" class="padding-top padding-bottom">banner</label>
                    <input type="file" id="banner" required name="banner" aria-label="Banner">
                </div>
                <input type="submit" value="set" aria-label="Set">
                <span class="caption">max: 1mb / accepts png, jpg, gif / 800 x 89</span>
            </form>
        </div>
        <div class="right padding-bottom">
            <div class="bold">visual</div>
            <form class="form" method="post" action="/settings/preferences/">
                <div class="input-group">
                    <label for="hidecss">hide unmoderated css</label>
                    <input type="checkbox" id="hidecss" {% if User.hide_css == "t" %}checked{% endif %} name="hide_css" aria-label="Hide CSS">
                </div>
                <span class="caption">enabled by default; all CSS is moderated to account for epilepsy, etc.</span>
                <input type="submit" value="set" aria-label="Set">
            </form>
        </div>
        <div class="right padding-bottom">
            <div class="bold">last.fm</div>
            <form class="form" method="post" action="/settings/lastfm/">
                <div class="input-group">
                    <label for="lastfm">username</label>
                    <input type="text" id="lastfm" required name="lastfm" aria-label="Last.FM username">
                </div>
                <span class="caption">linking your last.fm will show what you are scrobbling to everybody</span>
                <input type="submit" value="set" aria-label="Set">
            </form>
        </div>
        <div class="right padding-bottom">
            <div class="bold">private account</div>
            <form class="form" method="post" action="/settings/private/">
                <div class="input-group">
                    <label for="private">private</label>
                    <input type="checkbox" {% if User.private == "t" %}checked{% endif %} id="private" name="private" aria-label="Private">
                </div>
                <span class="caption">disabled by default; people must request to see your weets</span>
                <input type="submit" value="set" aria-label="Set">
            </form>
        </div>
    </div>
{% endblock %}