{% extends "base.twig" %}
{%- block Container -%}
    <div class="padding">
        <h3><i class="far fa-wrench"></i> user settings</h3>
    </div>
    <hr>
    <div class="padding no-padding-top no-padding-bottom">
        <div class="left padding-top padding-bottom">
            <div class="bold">display</div>
            <form class="form" method="post" action="/settings/nickname/">
                <div class="input-group">
                    <label for="username">display name</label>
                    <input type="text" id="username" required placeholder="yournickname" value="{{ User.nickname }}" name="nickname" aria-label="Nickname">
                    <input type="submit" class="inline-submit" value="change" aria-label="Change">
                </div>
            </form><br>
            <div class="bold">description</div>
            <form class="form" method="post" action="/settings/description">
                <div class="input-group">
                    <textarea type="text" class="full" required placeholder="my name is ..." name="description" aria-label="Weet">{{ User.description }}</textarea>
                </div>
                <span class="caption">make sure to describe yourself well</span>
                <input type="submit" value="set" aria-label="Set">
            </form>
        </div>

        <div class="right padding-top padding-bottom">
            <div class="bold">photos</div>
            <form class="form" method="post" action="/settings/picture/profile/" enctype="multipart/form-data">
                <div class="input-group">
                    <label for="profile_picture" style="width: 25%;">profile picture</label>
                    <input type="file" class="input-text-prefix-form" id="profile_picture" required name="asset" aria-label="Profile Picture">
                </div>
                <span class="caption">max: 500kb / accepts png, jpg, gif</span>
                <input type="submit" value="set" aria-label="Set">
            </form>
        </div>
        <div class="right padding-bottom">
            <form class="form" method="post" action="/settings/picture/banner/" enctype="multipart/form-data">
                <div class="input-group">
                    <label for="banner" style="width: 25%;">banner</label>
                    <input type="file" class="input-text-prefix-form" id="banner" required name="banner" aria-label="Banner">
                </div>
                <span class="caption">max: 1mb / accepts png, jpg, gif</span>
                <input type="submit" value="set" aria-label="Set">
            </form>
        </div>
    </div>
    <hr>

{% endblock %}