<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jacksden.xyz</title>
    <link href="/styles/den.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type='text/javascript' src='/scripts/domokun.js'></script>
    <script>
    </script>
  </head>
  <body>
    <div class="container">
      <div class="padding">
        <div class="inline-block">
          <div class="heading inline-block">jack's den</div><br>
          <span class="caption">jacksden.xyz</span>
        </div>
        <img src="/images/1.png" class="top-right-icon">
      </div>
    </div>
    <div class="container">
      <div class="padding gradient-bottom">
        <div class="heading">about me — and ways to contact me</div>
        <div class="about-me">
          <img src="/images/2.png">
          <div class="inline-block top">
            <div class="about-me-description inline-block">
            i'm <b>jack</b>, a <b>web developer</b> and <b>music producer</b> from california. you can check out my music at my <b>twitter</b> listed below, and my open-sourced stuff on my <b>github</b> <span class="caption">(also listed below)</span><br><br>feel free to reach out if you have any questions or just want to talk. my <b>discord</b> account is listed below. <span class="caption">i may not respond very quickly!</span>
            </div>
          
            <div class="buttons-list">
              <a href="discord://"><button><i class="fab fa-discord"></i> discord <b>(@j._ck)</b></button></a> 
              <a href="https://twitter.com/jac9984"><button><i class="fab fa-twitter"></i> twitter</button></a> 
              <a href="https://soundcloud.com/jj_x"><button><i class="fab fa-soundcloud"></i> soundcloud</button></a>
              <a href="https://github.com/rza-128"><button><i class="fab fa-github"></i> github</button></a> 
            </div>
          </div>
          <!--<span class="caption right pst_time">couldn't fetch time!</span>-->
        </div>
      </div>
      <hr>
      <div class="padding">
        <div class="heading">projects i've worked on</div>
        <p>i have a lot more projects but there's way too many for me to just list</p>
        
        <div class="project">
          <img src="/images/witter.png">
          <div class="project-info">
            <a href="#"><b>witter</b> — no link currently, in development</a><br>
            <span class="caption">
              <a href="https://discord.gg/3M9BrQtPHd">discord</a>
            </span>
            
            <div class="project-why">
              <b>witter</b> is a project i started working on after i was getting increasingly dissatisfied with how <b>elon</b> was treating his site; bots, the whole "verified" fiasco, horrible management, the list goes on. <b>witter</b> is not meant to be a replacement for <b>twitter</b>, but more as like a parody and a <i>"nieche"</i> thing. <b>witter</b> lets users customize their profiles with css, has the same basic features as <b>twitter</b>, and more features like <b><a href="https://last.fm/">last.fm</a></b> integration.
            </div>
          </div>
        </div>
        <div class="project">
          <img src="/images/utue.png">
          <div class="project-info">
            <a href="#"><b>utue</b> — dead, not in development</a><br>
            <span class="caption">
              <a href="https://web.archive.org/web/20220615103223/http://utue.net/">web archive</a> &bull; <a href="https://github.com/rza-128/youtube">source</a>
            </span>
            
            <div class="project-why">
              <b>utue</b> was a project i started working on because of my interest in old youtube. there is a community surrounding this kind of stuff, and popular sites like <a href="#">vidlii.com</a> <span class="caption">(extreme trigger warning / unmoderated hell)</span> have stemmed from that same community. <b>utue</b> was just another passion project of mine, with a sizeable amount of users and the site having a good "quality control" system for videos.
            </div>
          </div>
        </div>
        <span class="caption right inline-block">all sites i've created are with php.</span>
        <br>
      </div>
      <hr>
      <div class="padding">
        <span class="caption">...more things will be added to the site as longg as i'm not lazy</span>
      </div>
    </div>
    <div class="domo-kun-area">
      <div class="domo-kun"></div>
    </div>
  </body>
</html>