{% extends "misc/base.twig" %}
{%- block Container -%}
    <div class="padding">
        <h2>Terms of Service</h2>
    </div>
    <hr>
    <div class="padding terms-of-service">
        <p>Hey there! Thanks for joining Witter, our lighthearted spin on the Twitter experience. As part of our community, we kindly ask you to follow these guidelines:</p>

        <ol>
            <li><strong>Witter's Purpose</strong>: We're here as a parody platform, for a bit of fun and creativity. We don't have intentions of replacing Twitter.</li>

            <li><strong>Community Respect</strong>: Mutual respect is a must. Engage thoughtfully, and avoid negative or harmful behavior towards others.</li>

            <li>
                <strong>Content Guidelines</strong>:
                <ul>
                    <li><strong>NSFW Content</strong>: It's not suitable here. Please refrain from posting anything that's not safe for a professional or public setting.</li>
                    <li><strong>Avoid Graphic Content</strong>: Content that's overly graphic or disturbing doesn't have a place on Witter.</li>
                    <li><strong>Common Sense Posting</strong>: Before posting, consider if it's respectful and appropriate. Basically, don't be a dumbass.</li>
                </ul>
            </li>

            <li><strong>Accountability</strong>: Your content and actions on Witter are your responsibility. If you spot inappropriate content, we appreciate it if you'd report it.</li>

            <li><strong>Adaptable Terms</strong>: We might update these terms from time to time to keep things clear and current. We'll do our best to communicate significant changes.</li>

            <li><strong>Platform Use</strong>: We strive to provide a fun platform, but usage is at your own discretion. We can't promise perfection.</li>
        </ol>

        <p>We're glad to have you here! Let's make Witter an enjoyable space for all.</p>
    </div>
{% endblock %}