{% extends "misc/base.twig" %}
{%- block Container -%}
    <div class="padding no-padding-top">
        <h3>your notifications</h3><br>
    </div>
    <hr>
    <div class="padding">
        {% for Notification in Notifications %}
            {% if Notification.id is defined %}
                <div class="notification padding">
                    <i class="fas fa-{{Notification.icon}}"></i>
                    <div class="notification-content padding-left inline-block top">
                        <img src="/cdn/{{ Notification.user.profile_picture }}" class="profile-picture">
                        <div class="notification-text">
                            {{ Notification.type|raw }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% if Notifications|length == 0 %}
            <div class="center caption padding-top padding-bottom">
                You currently have no notifications.
            </div>
        {% endif %}
    </div>
{% endblock %}