/*
    base.css
*/

/*
What the hell?
*/
@font-face {
    font-family: "MS PGothic";
    src: url("/styles/pgothic.ttf") format("opentype");
}


:root {
    --primary-text-color: #2874c5;
    --secondary-text-color: #2262a6;
    --primary-border-color: #ccc;
    --caption-text-color: #5e5e5e;
    --background-color: #fbfdff;
}

.no-margin {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--background-color);
    font-size: 15px;
    font-family:  "MS PGothic", sans-serif;
    color: black;
}

.input-text-prefix-form {
    padding-left: 28px !important;
    width: 147px !important;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

b {
    color: var(--primary-text-color);
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 ,h6 {
    padding: 0px;
    margin: 0px;
}

.comment-body {
    font-size: 13px;
}

.padding .tab-group {
    margin-bottom: -10px;
}

.tab-group .tab {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    border: 1px solid var(--primary-border-color);
    border-bottom: 0px solid black;
    padding: 7px;
    background-color: whitesmoke;
    height: 18px;
}

.tab-group .primary {
    background-color: var(--secondary-text-color);
    border: 1px solid #0b4b9b;
    border-bottom: 0px solid black;
    color: white;
    font-weight: bold;
}

.container {
    background-color: #ffffff4d;
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid var(--primary-border-color);
    overflow: auto;
}

.center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.left {
    float: left;
    width: calc(50% - 20px);
}

.input-text-prefix {
    display: inline-block;
    position: absolute;
    margin-left: 1px;
    margin-top: 1px;
    background-color: #ffffff8a;
    border-right: 1px solid #ccc;
    height: 21px;
    width: 17px;
    padding-left: 5px;
    font-size: 20px;
}

.alert-success {
    height: 40px;
    overflow-y: hidden;
    background-color: #4fdaff42;
    border: 1px solid rgb(0 126 125 / 15%);
}

.alternative-header {
    padding: 8px;
}

.alternative-header a {
    font-size: 13px;
}

.alternative-header h3 a {
    font-size: initial;
}

.alternative-header .links a {
    margin-right: 5px;
    display: inline-block;
}

.alert-error {
    height: 40px;
    overflow-y: hidden;
    background-color: #ff4f4f42;
    border: 1px solid rgb(255 0 0 / 15%);
}

.no-border-left {
    border-left: 0px solid black !important;
}

.comment-author {
    max-width: 185px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.comment-action {
    padding: 3px;
    min-width: 25px;
    text-align: center;
    border: 1px solid var(--secondary-text-color);
}

.comment-action.active {
    background-color: #4e7cad;
    color: white;  
}

.comment-action:hover {
    background-color: #4e7cad;
    color: white;
}

.comment-text {
    width: 100%;
    margin-top: 2px;
}

.comment-actions {
    margin-top: 5px;
    font-size: 12px;
    color: var(--secondary-text-color);
}

.user-album button {
    background-color: #738396;
    border: 1px solid #99a3af;
    box-shadow: 0px 0px 5px #707070;
}

.right {
    border-left: 1px solid var(--primary-border-color);
    float: right;
    padding-left: 20px;
    width: calc(50% - 20px);
}

.user-card-right {
    float: right;
    padding-left: 20px;
    width: calc(70% - 20px);
}

.inline-block {
    display: inline-block;
}

.header .right {
    border-left: 0px solid #000000;
    padding-left: unset;
    width: 170px;
}

.user-header .header-items {
    position: relative;
    bottom: 80px;
}

.user-header {
    padding-bottom: 4px !important;
    height: 85px !important;
    overflow: hidden !important;
}

.footer {
    background-color: #f1f1f1;
    font-size: 12px;
    color: var(--caption-text-color);
}

.padding {
    overflow: auto;
    padding: 10px;
}

.user-panel {
    height: 25px;
    overflow: hidden;
}

.padding-top {
    padding-top: 10px;
}

.padding-left {
    padding-left: 10px;
}

.padding-right {
    padding-right: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.no-padding-top {
    padding-top: 0px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

hr {
    border-top: 0px transparent;
    border-bottom: 1px solid var(--primary-border-color);
    margin: 0px;
    padding: 0px;
}

.form label {
    width: 50%;
    display: inline-block;
}

textarea.full {
    width: 769px;
    height: 50px;
}

.left textarea.full,
.right textarea.full
{
    width: 357px;
}

.form .input-group {
    margin-bottom: 3px;
}

.form textarea {
    resize: none;
    border: 1px solid var(--primary-border-color);
    padding: 5px;
}

.right .form input[type="text"],
.right .form input[type="file"],
.right .form input[type="password"],
.left .form input[type="text"],
.left .form input[type="file"],
.left .form input[type="password"] {
    width: 172px;
}

.right .form input[type="submit"],
.left .form input[type="submit"] {
    margin-right: 1px; /* TODO: Fix hacky fix, button for forms is not perfectly aligned, so we have to apply a one pixel margin. */
}

/* buttons galore */
button:disabled,
.form input[type="submit"]:disabled {
    border: 1px solid grey;
    background: linear-gradient(180deg, grey 0%, grey 100%);
}

button:hover:disabled:hover,
.form input[type="submit"]:disabled:hover {
    background: linear-gradient(180deg, grey 0%, grey 100%);
}

button:hover,
.form input[type="submit"]:hover {
    background: linear-gradient(180deg, var(--primary-text-color) 0%, var(--secondary-text-color) 100%);
}

button,
.form input[type="submit"] {
    background-color: var(--primary-text-color);
    border: 1px solid var(--secondary-text-color);
    padding: 5px;
    color: white;
    float: right;
    min-width: 60px;
}

.user-album-container .album-title,
.user-album-container .artist-title,
.user-album-container .scrobbled-ago,
.caption {
    font-size: 11px;
    color: var(--caption-text-color);
    font-weight: initial;
}

.user-album-container .album-title,
.user-album-container .artist-title,
.user-album-container .scrobbled-ago,
.user-album-container .caption {
    color: #ffffffba;;
}

.form .caption {
    width: 300px;
    display: inline-block;
    margin-top: 8px;
}

.form input[type="submit"] {
    margin-top: 10px;
}

.right input[type="file"] {
    width: 239px !important;
}

input[type="text"],
input[type="file"],
input[type="password"] {
    border: 1px solid var(--primary-border-color);
    padding: 3px;
}

.form {
    margin-top: 5px;
}

.caption a {
    color: var(--caption-text-color);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.padding .weet:first-child {
    margin-top: 0px;
}

.user-panel .tab-group {
    position: relative;
    bottom: 51px;
    left: 240px;
    --mask: linear-gradient(to bottom,
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%,
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;

    mask: var(--mask);
}

.header-items .align-right {
    margin-right: 4px;
}

.header a {
    color: #6db6ff;
    text-shadow: 0px 0px 4px rgba(40, 116, 197, 0.42);
    text-align: right;
}

.header {
    background-image: url('/images/header/1.webp');
    background-repeat: no-repeat;
    background-color: #d9d9d9;
    background-size: cover;
    background-position: center;
    height: 60px;
}

.user-album-container {
    background: linear-gradient(0deg, #738396 0%, #738396a8 100%);
    height: 45px;
    overflow: hidden;
    color: #ffffffeb;
}

.user-album-container .caption {

}

.user-album {
    position: relative;
}

.user-album-container .album-cover img {
    width: 45px;
    height: 45px;
}

.user-album-container .album-cover {
    display: inline-block;
    position: relative;
}

.user-album-container .album-cover:after {
    content: '';
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background: url("/images/gloss.png");
    background-size: contain;
    opacity: 0.5;
    height: 45px;
    width: 45px;
    box-shadow: 0px 0px 5px #ffffff;
}

.user-album-container .album-metadata {
    padding-left: 10px;
    line-height: 15px;
}

.weet {
    margin: -10px;
    margin-top: 10px;
    min-height: 50px;
    border-bottom: 1px solid var(--primary-border-color);
}

.weet .profile-picture {
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-border-color);
}

.user-card .inline-block {
    width: 60%;
}

.bold {
    font-weight: bold;
}

.inline-submit {
    display: inline-block;
    position: relative;
    bottom: 33px;
    height: 23px;
    padding: 3px !important;

    /* Lord forgive me for I have sinned once again */
    /* This will only work in edge cases where the button is originally aligned to the right
       TODO: THIS IS HORRIBLE!!!! */
}

.weet .padding {
    padding: 6px;
}

.user-description {
    padding-left: 10px;
}

.negative-margin {
    /* TODO: Stop doing this */
    /* Shitty fix & hack to get hr(s) to not look like ass on .left & .right */
    margin: -10px;
    height: 20px;
    width: 108%;
}

.user-card .user-metadata {
    line-height: 12px;
    padding-top: 2px;
    width: 133px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-card button {
    background-color: var(--primary-text-color);
    border: 1px solid var(--secondary-text-color);
    padding: 4px;
    color: white;
    min-width: 133px;
    height: 20px;
    font-size: 11px;
    margin-top: 5px;
}

.user-panel {
    display: inline-block;
    width: 96%;
    height: 75px;
    position: relative;
    bottom: 70px;
    left: 10px;
    z-index: 5;
    margin-bottom: -73px;
}

.user-card {
    width: 208px;
    display: inline-block;
    background-color: #ffffffd4;
    box-shadow: 0px 0px 5px #7c7c7c;
    padding: 4px;
    height: 70px;
}

.user-card .profile-picture {
    width: 68px;
    height: 68px;
    border: 1px solid var(--primary-border-color);
}

.weet .comment-body {
    width: 685px;
    line-break: anywhere;
    padding-left: 0px;
    padding-top: 5px;
}

.weet .comment-info {
    width: 685px;
}

.top {
    vertical-align: top;
}

.bottom {
    vertical-align: bottom;
}