/*
    -- base.css --
    cram every css rule in here? YES !
*/

@font-face {
    font-family: "MS PGothic";
    src: url("/styles/pgothic.ttf") format("opentype");
}

.user-card .dropdown-show {
    display: inline-block;
    position: absolute;
    right: 0;
}

.terms-of-service li {
    line-height: 21px;
}

.settings-page-fix {
    padding-bottom: 8px !important;
}

.fixed-width-notification-icon {
    width: 45px;
}

.search-filter {
    display: inline-block;
}

body, html {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.search-bar-page input[type="text"] {
    width: 712px;
}

.search-bar-page button {
    font-size: 11px;
}

.container-side-borders {
    border-left: 1px solid var(--primary-border-color)
}

.search-bar input[type="text"] {
    height: 11px !important;
    background-color: #ffffff45;
    color: #00357980;
    border: 1px solid #00b7fd00;
}

.search-bar input[type="text"]::placeholder {
    color: #00357980 !important;
}

.rss-button {
    width: 25px;
}

.user-oomf {
    background-color: #2874c580;
    color: white;
    padding: 1px;
    display: inline-block;
    text-align: center;
    width: 70px;
    font-size: 11px;
    margin-left: 10px;
    vertical-align: middle;
    border: 1px solid #2366ad52;
}

.search-filter-options,
.search-filter-option {
    display: inline-block;
}

.tab-group-right-section {
    display: inline-block;
    float: right;
    width: 32px;
    margin-top: -42px;
    position: relative;
    top: 22px;
    padding-left: 5px;
}

.tab-group-right-section button {
    min-width: 23px;
    height: 23px;
    font-size: 11px;
    float: unset;
}

.notification .profile-picture {
    width: 30px;
    border: 1px solid #d3d3d3;
}

.notification i {
    font-size: 35px;
    padding-right: 10px;
    color: #d5d5d5;
}

:root {
    --primary-text-color: #2874c5;
    --secondary-text-color: #2262a6;
    --primary-border-color: #ccc;
    --caption-text-color: #5e5e5e;
    --background-color: #fbfdff;
}

.form-input-button-fix .input-group {
    width: 275px;
    display: inline-block;
}

.forn-input-button-fix input[type="file"] {
    width: 302px !important;
    height: 21px;
    position: relative;
    top: 1px;
}

.form-input-button-fix input[type="submit"] {
    margin-top: 37px !important;
}

.reweet {
    margin-top: 5px;
    border: 1px solid var(--primary-border-color);;
}

.reweet:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.fake-link {
    color: var(--primary-text-color);
}

.reply-chain .weet:first-child {
    border-bottom: 0px solid black;
}

.reply-chain .weet:not(:first-child) {
    border-top: 1px dashed var(--primary-text-color);
    border-bottom: 0px solid black;
}

.follow_button:disabled {
    background-image: linear-gradient(45deg, #2262a6 25%, #3175bd 25%, #3175bd 50%, #2262a6 50%, #2262a6 75%, #3175bd 75%, #3175bd 100%);
    background-size: 11.31px 11.31px;
    border: 1px solid #2262a6;
}

.follow_button:disabled:hover {
    background: #2262a6 !important;
}

.no-margin {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--background-color);
    font-size: 15px;
    font-family:  "MS PGothic", sans-serif;
    color: black;
}

.input-text-prefix-form {
    padding-left: 28px !important;
    width: 147px !important;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

b {
    color: var(--primary-text-color);
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 ,h6 {
    padding: 0px;
    margin: 0px;
}

.comment-body {
    font-size: 13px;
}

.padding .tab-group {
    margin-bottom: -10px;
}

.separator {
    border-left: 1px solid var(--caption-text-color);;
    margin-left: 5px;
    margin-right: 5px;
}

.tab-group .tab {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    border: 1px solid var(--primary-border-color);
    border-bottom: 0px solid black;
    padding: 7px;
    background-color: whitesmoke;
    height: 18px;
}

.tab-group .primary {
    background-color: var(--secondary-text-color);
    border: 1px solid #0b4b9b;
    border-bottom: 0px solid black;
    color: white;
    font-weight: bold;
}

.container {
    background-color: #fcfeff;
    width: 800px;
    margin: auto;
    margin-bottom: 5px;
    /* overflow: auto; */
}

.center {
    text-align: center;
}

.homepage-padding {
    padding-top: 75px;
}

.homepage-photo {
    width: 270px;
    margin: auto;
    display: block;
    margin-bottom: 15px;
}

.homepage-info {
    line-height: 22px;
}

.full-width {
    width: 100%;
}

.left {
    float: left;
    width: calc(50% - 20px);
}

.input-text-prefix {
    display: inline-block;
    position: absolute;
    margin-left: 1px;
    margin-top: 1px;
    background-color: #ffffff8a;
    border-right: 1px solid #ccc;
    height: 21px;
    width: 17px;
    padding-left: 5px;
    font-size: 20px;
}

.alert-success {
    height: 40px;
    overflow-y: hidden;
    background-color: #4fdaff42;
    border: 1px solid rgb(0 126 125 / 15%);
}

.alternative-header {
    display: none;
    padding: 8px;
    border-left: 1px solid var(--primary-border-color);
    border-top: 1px solid var(--primary-border-color);
    border-right: 1px solid var(--primary-border-color);
}

.alternative-header a {
    font-size: 13px;
}

.alternative-header h3 a {
    font-size: initial;
}

.alternative-header .links a {
    margin-right: 5px;
    display: inline-block;
}

.alert-error {
    height: 40px;
    overflow-y: hidden;
    background-color: #ff4f4f42;
    border: 1px solid rgb(255 0 0 / 15%);
}

.no-border-left {
    border-left: 0px solid black !important;
}

.comment-author {
    max-width: 185px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.comment-action {
    padding: 3px;
    min-width: 25px;
    text-align: center;
    border: 1px solid var(--secondary-text-color);
}

.comment-action.active {
    background-color: #4e7cad;
    color: white;  
}

.comment-action:hover {
    background-color: #4e7cad;
    color: white;
}

.comment-text {
    width: 100%;
    margin-top: 2px;
}

.comment-actions {
    margin-top: 5px;
    font-size: 12px;
    color: var(--secondary-text-color);
}

.user-album button {
    border: 1px solid #5f7da1;
    box-shadow: 0px 0px 5px #b7bdc1;
    background: linear-gradient(0deg, rgba(107,149,189,1) 0%, rgba(128,169,207,1) 100%);
}

.right {
    border-left: 1px solid var(--primary-border-color);
    float: right;
    padding-left: 20px;
    width: calc(50% - 20px);
}

.user-card-right {
    float: right;
    padding-left: 20px;
    width: calc(70% - 20px);
}

.inline-block {
    display: inline-block;
}

.keep-color {
    color: inherit !important;
}

.header .right {
    border-left: 0px solid #000000;
    padding-left: unset;
    width: 170px;
    line-height: 30px;
}

.full-width-reweet-notif {
    width: 600px;
}

.user-header .header-items {
    position: relative;
    bottom: 80px;
}

.user-header {
    padding-bottom: 4px !important;
    height: 85px !important;
    overflow: hidden !important;
}

.footer {
    height: 500px; /* for infinite scrolling */
    width: 800px;
    line-height: 20px;
    margin: auto;
    font-size: 12px;
    border: 0px solid black;
    color: var(--caption-text-color);
    border-top: 1px solid var(--primary-border-color);
}

.padding {
    overflow: auto;
    padding: 10px;
}

/* why doesn't overflow: unset just work?? */
.padding-no-overflow {
    padding: 10px;
}

.user-panel {
    height: 25px;
    overflow: hidden;
}

.padding-top {
    padding-top: 10px;
}

.padding-left {
    padding-left: 10px;
}

.padding-right {
    padding-right: 10px;
}

.fontawesome-padding {
    padding-right: 5px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.no-padding-top {
    padding-top: 0px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

hr {
    border-top: 0px transparent;
    border-bottom: 1px solid var(--primary-border-color);
    margin: 0px;
    padding: 0px;
}

.form label {
    width: 50%;
    display: inline-block;
}

textarea.full {
    width: 769px;
    height: 50px;
}

.left textarea.full,
.right textarea.full
{
    width: 357px;
}

.form .input-group {
    margin-bottom: 3px;
}

.form textarea {
    resize: none;
    border: 1px solid var(--primary-border-color);
    padding: 5px;
}

.right .form input[type="text"],
.right .form input[type="file"],
.right .form input[type="password"],
.left .form input[type="text"],
.left .form input[type="file"],
.left .form input[type="password"] {
    width: 172px;
}

.right .form input[type="submit"],
.left .form input[type="submit"] {
    margin-right: 1px; /* TODO: Fix hacky fix, button for forms is not perfectly aligned, so we have to apply a one pixel margin. */
}

/* buttons galore */
button:disabled,
.form input[type="submit"]:disabled {
    border: 1px solid grey;
    background: linear-gradient(180deg, grey 0%, grey 100%);
}

button:hover:disabled:hover,
.form input[type="submit"]:disabled:hover {
    background: linear-gradient(180deg, grey 0%, grey 100%);
}

button:hover,
.form input[type="submit"]:hover {
    background: linear-gradient(180deg, var(--primary-text-color) 0%, var(--secondary-text-color) 100%);
}

button,
.form input[type="submit"] {
    background-color: var(--primary-text-color);
    border: 1px solid var(--secondary-text-color);
    padding: 5px;
    color: white;
    float: right;
    min-width: 60px;
}

.user-album-container .album-title,
.user-album-container .artist-title,
.user-album-container .scrobbled-ago,
.caption {
    font-size: 11px;
    color: var(--caption-text-color);
    font-weight: initial;
}

.user-album-container .album-title,
.user-album-container .artist-title,
.user-album-container .scrobbled-ago,
.user-album-container .caption {
    color: #ffffffba;;
}

.form .caption {
    width: 300px;
    display: inline-block;
    margin-top: 8px;
}

.form input[type="submit"] {
    margin-top: 10px;
}

.right input[type="file"] {
    width: 239px !important;
}

input[type="text"],
input[type="file"],
input[type="password"] {
    border: 1px solid var(--primary-border-color);
    padding: 3px;
}

.form {
    margin-top: 5px;
}

.caption a {
    color: var(--caption-text-color);
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.padding .weet:first-child {
    margin-top: 0px;
}

.user-panel .tab-group {
    position: relative;
    bottom: 51px;
    left: 240px;
    /*
    --mask: linear-gradient(to bottom,
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%,
    rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;

    mask: var(--mask);
    */
}

.header-items .align-right {
    margin-right: 4px;
}

.header a {
    color: #f8fbffe0;
    text-shadow: 0px 0px 4px rgb(194 204 215);
}

.header h1 {
    display: inline-block;
}

.logo img {
    width: 115px;
}

.header-container {
    margin-top: 10px;
}

.header-background.first-part {
    left: 0px;
    border-right: 1px solid #799bb9;
    width: 10vw;
}

.header-background.second-part {
    right: 0px;
    border-left: 1px solid #799bb9;
    width: 72vw;
}


.header-background {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 30px;
    background: rgb(128,169,207);
    background: linear-gradient(0deg, #588ec7 0%, #92c1f3 100%);
    border-top: 1px solid #799bb9;
    border-bottom: 1px solid #799bb9;
    top: 18px;

    /* todo: this rgb & hex mixing is ugly DONT do it !! */
}

/* this shit STINKS */
.height-unset {
    height: unset !important;
}

.overflow-unset {
    overflow: unset !important;
}

.color-unset {
    color: unset !important;
}

.width-unset {
    width: unset;
}

.buffer {
    height: 1.5rem;
    background: rgb(107,149,189);
    background: linear-gradient(0deg, rgba(107,149,189,1) 0%, rgba(128,169,207,1) 100%);
    flex-grow: 1;
    border-bottom: 1px solid rgb(74 108 141);
    border-top: 1px solid rgb(74 108 141);
}

.buffer:first-child {
    border-right: 1px solid rgb(74 108 141);
}

.navlink-border {
    border-left: 1px solid rgb(74 108 141);
}

.navlink {
    background: rgb(107,149,189);
    background: linear-gradient(0deg, rgba(107,149,189,1) 0%, rgba(128,169,207,1) 100%);
    border-bottom: 1px solid rgb(74 108 141);
    border-top: 1px solid rgb(74 108 141);
}

.user-infobox {
    line-height: 15px;
}

#logo > div {
    width: 8rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 0px;
    margin-bottom: 10px;
}

nav {
    width: 100%;
}

#navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#logo > div {
    width: 8rem;
    height: 4rem;
}

hr.wide {
    width: 1000000%;
    position: absolute;
    left: 0px;
}

.buffer {
    height: 1.5rem;
    flex-grow: 1;
}

.navlink a {
    color: white;
}

.navlink > div {
    text-align: center;
    height: 1.5rem;
    padding: 0 1rem;
    color: white;
    position: relative;
    top: 3px;
}

.user-album-container {
    height: 45px;
    overflow: hidden;
    color: #ffffffeb;
    background: linear-gradient(0deg, rgba(107,149,189,1) 0%, rgba(128,169,207,1) 100%);
    border: 1px solid rgb(95 141 185);
}

.user-album-container .caption {

}

.user-album {
    position: relative;
}

.user-album-container .album-cover img {
    width: 45px;
    height: 45px;
}

.user-album-container .album-cover {
    display: inline-block;
    position: relative;
}

.user-album-container .album-cover:after {
    content: '';
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background: url("/images/gloss.png");
    background-size: contain;
    opacity: 0.5;
    height: 45px;
    width: 45px;
    box-shadow: 0px 0px 5px #ffffff;
}

.user-album-container .album-metadata {
    padding-left: 10px;
    line-height: 15px;
}

.weet {
    margin: -10px;
    margin-top: 10px;
    min-height: 50px;
    border-bottom: 1px solid #e2e2e2;
}

.weet:last-child {
    border-bottom: 0px solid black;
}

.weet .profile-picture {
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-border-color);
}

.user-card .inline-block {
    width: 60%;
}

.bold {
    font-weight: bold;
}

.inline-submit {
    display: inline-block;
    position: relative;
    bottom: 33px;
    height: 23px;
    padding: 3px !important;

    /* Lord forgive me for I have sinned once again */
    /* This will only work in edge cases where the button is originally aligned to the right
       TODO: THIS IS HORRIBLE!!!! */
}

.weet .padding {
    padding: 6px;
}

.negative-margin {
    /* TODO: Stop doing this */
    /* Shitty fix & hack to get hr(s) to not look like ass on .left & .right */
    margin: -10px;
    height: 20px;
    width: 108%;
}

.negative-margin-top {
    margin-top: -10px;
}

.user-card .user-metadata {
    line-height: 12px;
    padding-top: 2px;
    width: 133px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-card button {
    background-color: var(--primary-text-color);
    border: 1px solid var(--secondary-text-color);
    padding: 4px;
    color: white;
    min-width: 133px;
    height: 20px;
    font-size: 11px;
    margin-top: 5px;
}

.feed-create-form .caption {
    width: 680px;
    /* this is gay stupid and ugly but who cares */
    /* and also who the fuck decided to make buttons submit forms ???? 
       WHY did it take me years to learn that type="button" existed ? */
}

.feed-create-form input[type="submit"] {
    margin-top: 0px;
}

.add-attachment {
    width: 27px;
    height: 27px;
    min-width: 27px;

    color: rgb(158, 158, 158);

    background: rgb(222, 222, 222);
    border: 1px solid #a4a4a4;
    float: unset;
}

.add-attachment:hover {
    background: rgb(238, 238, 238);
}

.block {
    display: block !important;
}

.user-panel {
    display: inline-block;
    width: 96%;
    height: 75px;
    position: relative;
    bottom: 70px;
    left: 10px;
    z-index: 5;
    margin-bottom: -73px;
}

.user-card.admin-panel-exclusive {
    width: 345px;
    height: 125px;
}

.user-card {
    width: 208px;
    display: inline-block;
    background-color: #ffffffd4;
    box-shadow: 0px 0px 5px #7c7c7c;
    padding: 4px;
    height: 70px;
}

.dropdown {
    border: none;
    cursor: pointer;
}

.dropdown-show {
    width: 12px;
    height: 12px;
    background-size: cover;
    background-image: url(/images/dropdown.png);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.display-none {
    display: none;
}

.notification-alert {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #6ca8e3;
    border: 1px solid #4c81b5;
    position: absolute;
    right: -5px;
}

.notification-text {
    padding-top: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ededed;
    min-width: 125px;
    right: -55px;
    z-index: 1000;
    padding: 5px;
    top: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px #707070;

}

.dropdown-content a {
    color: black;
    display: block;
}

.user-card .profile-picture {
    width: 68px;
    height: 68px;
    border: 1px solid var(--primary-border-color);
}

.weet .comment-body {
    width: 725px;
    line-break: anywhere;
    padding-left: 0px;
    padding-top: 5px;
}

.weet .comment-info {
    width: 625px;
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

.followers-following-list .user-card {
    margin-right: 40px;
    margin-bottom: 20px;
}

.followers-following-list .user-card:hover {
    background-color: rgb(236, 236, 236);
}

/* 
      ____   
     /___/\_                     
    _\   \/_/\__                   
  __\       \/_/\                    
  \   __    __ \ \                
 __\  \_\   \_\ \ \   __            
/_/\\   __   __  \ \_/_/\         
\_\/_\__\/\__\/\__\/_\_\/     
   \_\/_/\       /_\_\/     
      \_\/       \_\/           
*/